<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Justine Yeah</h1>
    <p>Welcome to week 2 of my 12 Web Apps in 12 Weeks Challenges.</p>
    <p>This week I built a blog in Rails 5. You're actually on the demo application now. Cool staff, right?! </p>
    <p>If you'd like to follow along as I learn more on Ruby on Rails, find me on Twitter <a href="#">@Justineyeah</a></p>
  </div>
</div>
